<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页</title>
	    #parse("common/common.vm")
	</head>
	<body>
	    <div>
		    #parse("common/header.vm")
		    #parse("common/navBar.vm")
		    <link rel="stylesheet" href="//style.rensheng.com/rensheng/css/admin/index.css"/>
		    <div class="admin_index">
		        <div class="admin_left">
		            <ul>
		                <input type="hidden" class="userId" value="$!{loginUser.id}"/>
		                <input type="hidden" class="loginName" value="$!{loginUser.loginName}"/>
		                <li class="left_nav_item"><a href="#">发布文章</a></li>
		                <li class="left_nav_item"><a href="#">我的文章</a></li>
		                <li class="left_nav_item"><a href="#">上传头像</a></li>
		                <li class="left_nav_item"><a href="#">我的信息</a></li>
		                <li class="left_nav_item"><a href="#">修改密码</a></li>
		            </ul>
		        </div>
		        <div class="admin_right">
		            <div class="admin_welcome">
		                 #if($!{operationType} == "success")操作成功
		                 #else欢迎来到我的主页
		                 #end
		            </div>
		        </div>
		    </div>
		    <script src="//style.rensheng.com/rensheng/js/admin/index.js"></script>
		    #parse("common/footer.vm")
		</div>
	</body>
</html>