<link rel="stylesheet" href="//style.1huiwang.com/huiwang/css/admin/preAdd.css"/>
<div class="pre_edit">
    <form action="//www.1huiwang.com/article/addArticle" class="add_form" method="post">
        <table>
          <tr>
	         <td align="right" class="left_td"><span class="must_input">*</span>类型：</td>
	         <td align="left">
	            <select name="topicId" class="topic_id_select"></select>
	         </td>
	      </tr>
	      
	      <tr>
	         <td align="right" class="left_td"><span class="must_input">*</span>标题：</td>
	         <td align="left"><input type="text" class="title" name="title" value="$!{data.title}"></td>
	         <td><span class="tips" id="check_title">100字以内</span></td>
	      </tr>
	     
	      <tr>
	         <td align="right" class="left_td"><span class="must_input">*</span>内容：</td>
	         <td align="left"><textarea name="content" class="content">$!{data.content}</textarea></td>
	         <td><span class="tips" id="check_content">100-5000字</span></td>
	      </tr>
	     
	     <tr>
	          <td align="right" class="left_td"></td>
	          <td align="left"><button type="button" class="btn btn-primary btn-sm" id="pre_add_btn">发布</button></td>
	      </tr>
	      <input type="hidden" name="userId" value="$!{loginUser.id}"/>
	      <input type="hidden" name="id" value="$!{data.id}"/>
	      <input type="hidden" id="topic_id" value="$!{data.topicId}"/>
		</table>
	</form>
</div>
<script src="//style.1huiwang.com/huiwang/js/admin/preAddArticle.js"></script>