<link rel="stylesheet" href="//style.rensheng.com/rensheng/css/admin/preAdd.css"/>
<div class="pre_edit">
    <form class="pre_edit_password_form" action="//www.rensheng.com/admin/editPassword" method="post">
        <table>
	      <tr>
	         <td align="right" class="left_td"><span class="must_input">*</span>原始密码：</td>
	         <td align="left"><input type="password" class="old_password" name="oldPassword"></td>
	         <td><span class="tips" id="check_old_password"></span></td>
	      </tr>
	      <tr>
	         <td align="right" class="left_td"><span class="must_input">*</span>新密码：</td>
	         <td align="left"><input type="password" class="passwd" name="passwd"></td>
	         <td><span class="tips" id="check_passwd"></span></td>
	      </tr>
	      <tr>
	         <td align="right" class="left_td"><span class="must_input">*</span>确认密码：</td>
	         <td align="left"><input type="password" class="re_password" name="rePsssword"></td>
	         <td><span class="tips" id="check_re_password"></span></td>
	      </tr>
	      <tr>
	          <td align="right" class="left_td"></td>
	          <td align="left"><button type="button" class="btn btn-primary btn-sm" id="pre_edit_password_btn">确定</button></td>
	      </tr>
	      <input type="hidden" name="id" value="$!{loginUser.id}"/>
		</table>
	</form>
</div>
<script src="//style.rensheng.com/rensheng/js/admin/preEditPassword.js"></script>