<link rel="stylesheet" href="//style.rensheng.com/rensheng/css/articleResult.css"/>
<div class="items">
    <div class="left_item">
        <div class="left_title">最新动态</div>
        <ul>
        	#foreach($data in $!{datas})
	            <li class="content_item">
	            	<div class="content_title">
	            		<a target="_blank" href="/article/detail?id=$!{data.id}">$!{data.title}</a>
	            	</div>
	            	<div class="content_author">
	            		<img class="content_user_photo" src="$!{data.userData.fullPhotoUrl}"/>
	            		<span><strong>$!{data.userData.loginName}</strong></span>
	            		<span class="content_topic"><a href="#">$!{data.topicName}</a></span>
	            	</div>
	            	<div class="content">$!{data.simpleContent}</div>
	            	<div class="content_bottom">
	            		<a href="#"><span id="heart"></span><span style="margin-left:15px;">15人赞</span></a>
		            	<a href="#">5条评论</a>
		            	<a href="#"><strong>+</strong>添加关注</a>
	            	</div>
	            </li>
            #end
        </ul>
    </div>
    <div class="right_item">
    	#parse("index/imgCarousel.vm")
    </div>
</div>
#parse("common/paging.vm")
<form id="index_form" method="get">
    <input type="hidden" name="pageSize" value="20"/>
    <input type="hidden" name="pageNo" id="submit_page_no"/>
</form>
<script src="//style.rensheng.com/rensheng/js/articleResult.js"></script>