<!DOCTYPE html>
<html>
	<head>
		#parse("common/head.vm")
	</head>
	<body style="min-width:1190px;">
	    <div>
		    #parse("common/header.vm")
		    #parse("common/navBar.vm")
		    #parse("index/articleResult.vm")
		    #parse("common/footer.vm")
		</div>
	</body>
</html>