<!DOCTYPE html>
<html>
	<head>
		#parse("common/head.vm")
	</head>
	<body style="min-width:1190px;">
	    <div>
		    #parse("common/header.vm")
		    #parse("common/navBar.vm")
		    #parse("article/contentDetail.vm")
		    #parse("common/backTop.vm")
		    #parse("common/footer.vm")
		</div>
		<script charset="utf-8" src="//style.1huiwang.com/huiwang/editor/kindeditor-all-min.js"></script>
		<script charset="utf-8" src="//style.1huiwang.com/huiwang/editor/editor.js"></script>
	</body>
</html>