<!DOCTYPE html>
<html>
	<head>
		#parse("common/head.vm")
	</head>
	<body>
	    <div>
		    #parse("common/header.vm")
		    <link rel="stylesheet" href="//style.1huiwang.com/huiwang/css/preRegister.css"/>
		    <div class="preRegister">
				<form class="pre_login_form" action="//www.1huiwang.com/user/login" method="post">
				  <input type="hidden" value="$!{redirectUri}" name="redirectUri"/>
			      <table>
			          <tr>
						  <td class="company_logo"><strong>回望</strong></td>
						  <td></td>
				      </tr>
					  <tr>
						  <td>
						      <div class="input-group">哎呦，您访问的页面不存在哦，<a href="//www.1huiwang.com/index">返回首页</a></div>
					      </td>
					      <td></td>
				      </tr>
			      </table>
			    </form>
		    </div>
		    #parse("common/footer.vm")
		</div>
	</body>
</html>