<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页</title>
	    #parse("common/common.vm")
	</head>
	<body>
	    <div>
		    #parse("common/header.vm")
		    <link rel="stylesheet" href="http://style.malasong.com/weishi/css/preRegister.css"/>
		    <div class="preRegister">
		        <ul>
			        <li class="preRegister_img">
				        <img src="http://img.meilishuo.net/css//images/register/ad_img.jpg"/>
				    </li>
			        <li class="preRegister_info">
						注册成功，<a href="http://www.malasong.com/index">返回首页</a>
				    </li>
			    <ul>
		    </div>
		    <script src="http://style.malasong.com/weishi/js/preRegister.js"></script>
		    #parse("common/footer.vm")
		</div>
	</body>
</html>