<link rel="stylesheet" href="//style.1huiwang.com/huiwang/css/footer.css"/>
<div class="footer">
    <div class="footer_item">
        <ul class="footer_top">
	        <li><a href="javascript:void(0)">@2016 回望信息技术有限公司  版权所有</a>|</li>
	        <li><a target="_blank" href="//www.1huiwang.com/about">关于回望</a>|</li>
	        <li><a target="_blank" href="//www.1huiwang.com/contact">联系我们</a></li>
	    </ul>
	    <ul class="footer_bottom">
	        ##<li>增值电信业务经营许可证：浙B2-20110349</li>
	        <li>ICP备案号：浙ICP备16007963号</li>
	    </ul>
    </div>
</div>