<link rel="stylesheet" href="http://style.malasong.com/weishi/css/footer.css"/>
<div class="footer">
    <div class="footer_item">
        <ul class="footer_top">
	        <li><a href="javascript:void(0)">@2015 回望科技有限公司  版权所有</a>|</li>
	        <li><a href="#">公司简介</a>|</li>
	        <li><a href="#">联系我们</a></li>
	    </ul>
	    <ul class="footer_bottom">
	        ##<li>增值电信业务经营许可证：浙B2-20110349</li>
	        ##<li>ICP备案号：浙ICP备10044327号-3</li>
	    </ul>
    </div>
</div>