<link rel="stylesheet" href="//style.1huiwang.com/huiwang/css/header.css"/>
<div class="header">
    <div class="header_item">
	    <ul class="header_left">
	        <li><a href="//www.1huiwang.com/index">首页</a></li>
	        <li title="回望网，用心分享，世界因你而美！">回望网，用心分享，世界因你而美！</li>
	    </ul>
	    <ul class="header_right">
	    	<li><a href="//www.1huiwang.com/admin/index" title="登陆后，发布文章">发布文章</a></li>
	        <li>
	        	#if($!{loginUser})
	        		<a href="//www.1huiwang.com/admin/index" title="进入个人中心">
		                <img class="user_photo" src="$!{loginUser.fullPhotoUrl}"/>
		                #set($realName = $!{loginUser.realName})
		                #if($!realName)
		                	$!realName
		                #else
		                	$!{loginUser.loginName}
		                #end
	                </a>
	            	，<a href="//www.1huiwang.com/user/logout">退出</a>
	            #else
	                <a href="//www.1huiwang.com/user/preLogin" class="login_btn" title="登陆后，进入个人中心">登陆</a>
	            #end
	        </li>
	        #if(!$!{loginUser})
	    		<li><a href="//www.1huiwang.com/user/preRegister" title="注册后，进入个人中心">注册</a></li>
	    	#end
	    </ul>
	    <input type="hidden" class="login_user_id" value="$!{loginUser.id}"/>
    </div>
</div>
<script>
$(function(){
	var redirectUri = window.location.href;
	if(redirectUri.indexOf("redirectUri") > -1){
		$(".login_btn").attr("href", redirectUri);
	}else{
		$(".login_btn").attr("href", "//www.1huiwang.com/user/preLogin?redirectUri=" + window.location.href);
	}
})
</script>