<link rel="stylesheet" href="//style.rensheng.com/rensheng/css/header.css"/>
<div class="header">
    <div class="header_item">
	    <ul class="header_left">
	        <li><a href="//www.rensheng.com/index">首页</a></li>
	        <li></li>
	    </ul>
	    <ul class="header_right">
	    	<li><a href="//www.rensheng.com/user/preRegister">注册</a></li>
	        <li>
	        	#if($!{loginUser})
	        		<a href="//www.rensheng.com/admin/index">
		                <img class="user_photo" src="$!{loginUser.fullPhotoUrl}"/>
		                $!{loginUser.loginName}
	                </a>
	            	，<a href="//www.rensheng.com/user/logout">退出</a>
	            #else
	                <a href="//www.rensheng.com/user/preLogin">登陆</a>
	            #end
	        </li>
	    </ul>
	    <input type="hidden" class="login_user_id" value="$!{loginUser.id}"/>
    </div>
</div>