<div class="paging">
    <ul>
        #if($!totalCount > 0)
	        <li>共$!totalCount条</li>
	        <li>
				<ul class="pager">
				  <input type="hidden" value="$!pageNo" class="page_no"/>
				  <input type="hidden" value="$!totalPage" class="total_page"/>
				  <li><a id="pre_page" style="cursor:pointer">上一页</a></li>
				  <li><a id="next_page" style="cursor:pointer">下一页</a></li>
				</ul>
	        </li>
	        <li>第$!pageNo页，共$!totalPage页</li>
        #end 
    </ul>
</div>