<!DOCTYPE html>
<html>
	<head>
		#parse("common/head.vm")
	</head>
	<body>
	    <div>
		    #parse("common/header.vm")
		    <link rel="stylesheet" href="//style.1huiwang.com/huiwang/css/preRegister.css"/>
		    <div class="preRegister">
				<form class="pre_login_form" action="//www.1huiwang.com/user/login" method="post">
				  <input type="hidden" value="$!{redirectUri}" name="redirectUri"/>
			      <table>
			          <tr>
						  <td class="company_logo"><strong>回望</strong></td>
						  <td></td>
				      </tr>
					  <tr>
						  <td>
						 	 一粒沙里看世界，一朵花里现天国 ，生活点滴即是人生，用平凡的文字创造不平凡的沟通，点亮别人的路，岂不快哉？回望网(1huiwang.com)是国内首家关于人生交流的社区平台，在这里，你可以倾诉人生经历，也可以感受别人的人生经历。我们倡导以开放、自由、平等、真诚为原则的沟通方式。
					      </td>
				      </tr>
			      </table>
			    </form>
		    </div>
		    #parse("common/footer.vm")
		</div>
	</body>
</html>