<!DOCTYPE html>
<html>
	<head>
		#parse("common/head.vm")
	</head>
	<body>
	    <div>
		    #parse("common/header.vm")
		    <link rel="stylesheet" href="//style.1huiwang.com/huiwang/css/preRegister.css"/>
		    <div class="preRegister">
				<form class="pre_login_form" action="//www.1huiwang.com/user/login" method="post">
				  <input type="hidden" value="$!{redirectUri}" name="redirectUri"/>
			      <table>
			          <tr>
						  <td class="company_logo"><strong>回望</strong></td>
						  <td></td>
				      </tr>
					  <tr>
						  <td style="width:300px;">
						  	##地址：杭州市滨江区江南大道3850号创新大厦702室
						  	地址：杭州市滨江区伟业路太阳国际1幢3单元3002室
						  	<p/>
							邮箱：<a href="mailto:huiwang51@126.com">huiwang51@126.com</a> 或 <a href="mailto:huiwang51@163.com">huiwang51@163.com</a>
					      </td>
					      <td></td>
				      </tr>
			      </table>
			    </form>
		    </div>
		    #parse("common/footer.vm")
		</div>
	</body>
</html>